@if (IsCorporateUser()) {
  <div id="footerhide" class="footer-component  bg-blue-100 pt-8 pb-16 px-6  sm:px-0">
    <div class="container 2xl:mx-auto 2xl:max-w-[81rem] 2xl:px-0 xl:px-16">
      <div class="flex flex-wrap">
        <div
          class="w-full xl:w-1/4 hidden xl:flex flex-col justify-center items-start mb-6 xl:mb-0"
        >
          <a href="https://bdjobs.com" target="_blank" rel="noopener noreferrer">
            <img
              class="brand-logo h-10 mb-8"
              src="images/logo.png"
              draggable="false"
            />
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/6 mb-6 md:mb-0">
          <h2 class="text-lg font-semibold mb-2">About Us</h2>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://bdjobs.com/about.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >About Bdjobs</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/contact.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <!-- Author: Chowdhury Mohammad Irfanuddin -->
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/4 mb-6 md:mb-0">
          <h2 class="text-lg font-semibold mb-2">Guide to Bdjobs Recruiter</h2>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/help/job-posting-user-guide.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >Job Posting User Guide</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/help/applicant-hiring-activity-user-guide.asp?from=recruiter"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >One Stop Recruitment Center</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/help/help.asp?from=recruiter"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >FAQ</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/help/getting_started.asp?from=recruiter"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >How To</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/6 mb-6 md:mb-0">
          <h2 class="text-lg font-semibold mb-2">Others</h2>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://jobs.bdjobs.com/jobsearch.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >Jobs</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/career/counsel.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >Career Counseling</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/m_d_l/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-orange-500 transition-all duration-300"
                >E-Learning</a
              >
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/6 mb-6 md:mb-0">
          <h2 class="text-lg font-semibold mb-2">Follow Us</h2>
          <div class="flex space-x-4 mb-4">
            <a
              href="https://www.facebook.com/mybdjobs"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/facebook-color-icon.svg"
                class="footer-icon w-7 h-7 md:w-5 md:h-5"
                alt="Facebook link"
                draggable="false"
              />
            </a>
            <a
              href="https://b.bdjobs.com/google-page"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/google-color-icon-round.png"
                class="footer-icon w-7 h-7 md:w-5 md:h-5"
                alt="Google link"
                draggable="false"
              />
            </a>
            <a
              href="https://www.youtube.com/mybdjobs"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/youtube-color-icon.svg"
                class="footer-icon w-7 h-7 md:w-5 md:h-5"
                alt="Youtube link"
                draggable="false"
              />
            </a>
            <a
              href="https://linkedin.com/company/mybdjobs"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/linkedin-color-icon.svg"
                class="footer-icon w-7 h-7 md:w-5 md:h-5"
                alt="Linkedin link"
                draggable="false"
              />
            </a>
            <a
              href="https://www.instagram.com/mybdjobs/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/instagram-color-icon.svg"
                class="footer-icon w-7 h-7 md:w-5 md:h-5"
                alt="Instagram link"
                draggable="false"
              />
            </a>
          </div>
          <h2 class="text-lg font-semibold mb-2">Get Employer App</h2>
          <div class="flex space-x-4 mt-2">
            <a
              href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/google-play-badge.svg"
                alt="Download employer app"
                class="w-28 md:w-20"
                draggable="false"
            /></a>
            <a
              href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="images/footer/app-store-badge.svg"
                alt="Download employer iOS app"
                class="w-28 md:w-20"
                draggable="false"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer-bottom></app-footer-bottom>
  <span class="text-gray-600 text-sm ml-2">© Copyright bdjobs.com ltd. all right reserved.</span>
}@else {
  <div id="footerhide" class="footer-component  bg-[#F9FAFB] pt-8 pb-8 px-6  sm:px-0">
    <div class="container 2xl:mx-auto 2xl:max-w-[81rem] 2xl:px-0 xl:px-16">
      <div class="flex flex-col md:flex md:flex-row md:justify-between">
        <div
          class="xl:flex flex-col mb-6 xl:mb-0"
        >
          <a href="https://bdjobs.com" target="_blank" rel="noopener noreferrer">
            <img
              class="brand-logo h-10 mb-8"
              src="images/footer/bdjobslog-mybdjobs.svg"
              draggable="false"
            />
          </a>
          <p class="text-[#101828] font-semibold text-xl">Need any support ?</p>
          <p class="text-[#182230] font-normal text-sm w-[280px]">Our Contact Centre is available from 
           <span class="text-[#101828] font-semibold text-sm"><br> - 9 am to 8 pm (Sat to Thu).</span> </p>
           <div class="flex gap-2 mt-5">
            <img src="images/footer/phone-call-01.svg" alt="">
            <div class="text-[#D92D20] font-bold text-base">
              <p>09638666444</p>
              <p>01897627858</p>
            </div>
           </div>
        </div>
        <div class="  mb-6 md:mb-0">
          <p class="text-base font-semibold mb-2">About Us</p>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://bdjobs.com/about.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >About Bdjobs.com</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/tos.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Terms & Conditions</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/policy/Privacy_policy.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Privacy Policy</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://jobs.bdjobs.com/feedback.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Feedback</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://bdjobs.com/contact.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Contact Us</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://jobs.bdjobs.com/Accessibility-Statement.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Accessibility Statement</a
              >
            </li>

          </ul>
        </div>
        <!-- Author: Chowdhury Mohammad Irfanuddin -->
        <div class="  mb-6 md:mb-0">
          <p class="text-base font-semibold mb-2">Job Seekers</p>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/bdjobs-pro/bdjobs-pro-package-pricing"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Bdjobs Pro</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/mybdjobs/welcome.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >My Bdjobs Panel</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/emailnotification/view_all_feature.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >List of Features</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/mybdjobs/videoHelp.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Video Guides</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://mybdjobs.bdjobs.com/faq/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >FAQ</a
              >
            </li>
          </ul>
        </div>
        <div class="  mb-6 md:mb-0">
          <p class="text-base font-semibold mb-2">Recruiter</p>
          <ul class="list-none pl-0">
            <li class="py-1">
              <a
                href="https://recruiter.bdjobs.com/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Create Account</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/services.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Products/Service</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://recruiter.bdjobs.com/jobposting/"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >Post a Job</a
              >
            </li>
            <li class="py-1">
              <a
                href="https://corporate3.bdjobs.com/help/help.asp"
                target="_blank"
                rel="noopener noreferrer"
                class="text-gray-700 hover:text-[#0E73A9] transition-all duration-300 text-sm font-medium"
                >FAQ</a
              >
            </li>
          </ul>
        </div>
        <div class="  mb-6 md:mb-0">
          <div class="border border-[#F2F4F7] rounded-md px-2 py-3 shadow">
            <p class="text-lg font-semibold">Download Job Seeker App</p>
            <p class="text-[#344054] text-xs font-normal">Get real-time job updates on our app</p>
            <div class="flex gap-2 mt-2">
              <a
                href="https://play.google.com/store/apps/details?id=com.bdjobs.app"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/footer/google-play-badge.svg"
                  alt="Download employer app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
              <a
                href="https://apps.apple.com/in/app/bdjobs/id1435728822"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/footer/app-store-badge.svg"
                  alt="Download employer iOS app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
              <a
                href="https://appgallery.huawei.com/#/app/C101426113"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/footer/Badges.svg"
                  alt="Download employer iOS app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
            </div>
          </div>
          <div class="border border-[#F2F4F7] rounded-md px-2 py-3 mt-2 shadow">
            <p class="text-lg font-semibold">Download Employer App</p>
            <p class="text-[#344054] text-xs font-normal">Post jobs and manage hiring anytime.</p>
            <div class="flex gap-2 mt-2">
              <a
                href="https://play.google.com/store/apps/details?id=com.bdjobs.recruiter"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/footer/google-play-badge.svg"
                  alt="Download employer app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
              <a
                href="https://apps.apple.com/us/app/bdjobs-employer/id1479828492"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="images/footer/app-store-badge.svg"
                  alt="Download employer iOS app"
                  class="w-28 md:w-20"
                  draggable="false"
              /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-between md:pr-24 mt-3">
        <div class="hidden md:block flex-1 max-w-fit">
          <h1 class="text-[#101828] font-semibold text-base">Our Valuable Partners</h1>
          <div class="flex gap-4 mt-2">
            <a href="http://www.catho.com.br/" target="_blank"><img src="images/footer/catho-logo.svg" alt=""></a>
            <a href="https://www.workana.com/" target="_blank"><img src="images/footer/Logo_Workana.png" alt=""></a>
            <a href="http://www.zhaopin.com/" target="_blank"><img src="images/footer/zhaopin_logo.ae6fe9.png" alt=""></a>
            <a href="https://deliverytiger.com.bd/" target="_blank"><img src="images/footer/tiger-logo.svg" alt=""></a>
            <a href="http://www.seek.com.au/" target="_blank"><img src="images/footer/SEEK-Logo.png" alt=""></a>
            <a href="https://www.occ.com.mx/" target="_blank"><img src="images/footer/Options_Clearing_Corporation_logo.png" alt=""></a>
            <a href="https://www.jora.com/" target="_blank"><img src="images/footer/Jora.png" alt=""></a>
            <a href="http://www.jobsdb.com/" target="_blank"><img src="images/footer/jobsdb-logo.png" alt=""></a>
            <a href="http://www.jobberman.com/" target="_blank"><img src="images/footer/landscape.svg" alt=""></a>
            <a href="http://www.brightermonday.com/" target="_blank"><img src="images/footer/the african talent.svg" alt=""></a>
            <a href="https://ajkerdeal.com/" target="_blank"><img src="images/footer/ajker-deal.svg" alt=""></a>
          </div>
        </div>
        <div>
          <p class="text-[#101828] font-semibold text-base mb-2">Stay connected with us</p>
          <div class="flex space-x-4 mb-4">
            <a
            href="https://www.instagram.com/mybdjobs/"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/footer/instagram.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/footer/instagram-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://www.facebook.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/footer/facebook.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/footer/facebook-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://www.linkedin.com/company/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/footer/linkedin.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/footer/linkedin-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://b.bdjobs.com/google-page"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/footer/google.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/footer/google-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
            <a
            href="https://www.youtube.com/mybdjobs"
            target="_blank"
            rel="noopener noreferrer"
            class="group relative w-7 h-7 md:w-5 md:h-5"
          >
            <img
              src="images/footer/youtube.svg"
              alt="Youtube link"
              class="absolute inset-0 w-full h-full group-hover:opacity-0 transition-opacity duration-200"
              draggable="false"
            />
            <img
              src="images/footer/youtube-color.svg"
              alt="Youtube link hover"
              class="absolute inset-0 w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-200"
              draggable="false"
            />
            </a>
          
          </div>
        </div>
      </div>
       <span class="text-gray-600 text-sm">© Copyright bdjobs.com ltd. all right reserved.</span>
    </div>
    <!-- <hr class="border-t border-[#E4E7EC] my-4" />
    <div class="flex justify-between container 2xl:mx-auto 2xl:max-w-[81rem] 2xl:px-0 xl:px-16">
      <p class="text-[#344054] text-sm font-medium">© Copyright bdjobs.com ltd. all right reserved.</p>
      <div class="hidden md:block pr-[70px]">
        <a class="text-[#344054] hover:text-[#0E73A9] text-sm font-medium mr-3" href="https://bdjobs.com/tos.asp">Terms of service</a>
        <a class="text-[#344054] hover:text-[#0E73A9] text-sm font-medium" href="https://bdjobs.com/policy/Privacy_policy.asp">Privacy policy</a>
      </div>
    </div> -->
   
  </div>
}
