<div class="bg-white p-8 rounded-lg w-full max-w-md mx-auto text-center relative">
   
  
    <div class="flex justify-center mb-4">
    <img
      src="images/RedeemCredit.svg"
      alt="No credits icon"
      class="h-24 w-24"
    />
    </div>
  
    <h2 class="text-xl font-semibold text-[#0E73A9] mb-2">
      You currently have no Credits
    </h2>
  
    <p class="text-sm text-[#0E73A9] mb-6">
      Please insert any Referral Code you have to add credit
    </p>
  
    <div class="space-y-2">
      <label
        for="referralCode"
        class="block text-xl font-semibold text-gray-700 text-center"
      >
        Referral Code
      </label>
      <input
        id="referralCode"
        type="text"
        placeholder="Enter Referral Code"
        class="block w-full border border-gray-600 rounded-md mb-4 px-3 py-2 text-sm focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
      />
      <button
        class="py-2 px-4 mt-6 bg-[#0E73A9] text-white text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2"
      >
        Submit
      </button>
    </div>
  </div>
  