@if (isLoading()) {
    <div class="flex items-center justify-center min-h-[300px] py-10">
        <div class="loader"></div>
    </div>
} @else {
    <div class="mt-6">
        @if (shortlistedCvList && shortlistedCvList.length > 0) {
                @let visibleShortlistedCvList = showAllListData ? shortlistedCvList : shortlistedCvList.slice(0,5);
                @for (card of visibleShortlistedCvList; track $index) {
                <app-search-card 
                    [card]="card" 
                    [tabName]="'shortlistedCvTab'"
                    (onCardClick)="onCardClick($event)"
                    (shortlistedCvUpdated)="onShortlistedCvUpdated()"
                    (shortlistedCvCardDeleted)="onShortlistedCvDeleted()" />
            }
            @if (!showAllListData &&shortlistedCvList.length > 5) {
                <div class="text-[#0E73A9] font-medium text-center">
                    <a class="cursor-pointer" (click)="moveToShortList()">Show all
                    <span>({{shortlistedCvList.length}})</span></a>
                </div>
            }
        } @else {
            <div class="flex flex-col items-center">
                <img src="images/saved-search-image.svg" alt="No saved search" class="w-28 h-28 mx-auto" />
                <p class="text-[#212121] mt-2 text-center"><span class="font-bold">No list created yet.</span> <br> You can create lists for shortlisting profiles from the Talent Search portal</p>
            </div>
        }
        @if (showAllListData && showButton()) {
            <button (click)="scrollToTop()" class="fixed bottom-7 right-0 bg-gray-600 text-white p-2 shadow-md rounded-lg">
                <span class="icon-angle-top pr-2"></span>Back to Top
            </button>
        }
    </div>
}