<div id="footerhide" class="bg-[#165273] hidden md:block">
  <div class="container mx-auto max-w-[82rem] py-3 2xl:pl-3 xl:px-12">
    <div class="grid grid-cols-2 px-2 sm:px-0 sm:grid-cols-4 lg:grid-cols-6
    gap-x-2 gap-y-0 ">
      <!-- International Partners -->

      <div class="hs-dropdown [--placement:top-left] relative inline-flex">
        <button
          id="hs-dropup"
          type="button"
          class="hs-dropdown-toggle py-2 px-2 inline-flex items-center gap-x-0 text-base font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
        >
          International Partners
          <div class="ml-[2px] mt-[3px] inline-flex items-center justify-center text-white">
            <span class="icon-sort-up" style="transform: scale(0.45);"></span>
          </div>
        </button>

        <div
          class="hs-dropdown-menu w-72 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden z-10 bg-[#165273] shadow-md rounded-lg p-2 text-white"
          aria-labelledby="dropdown-international-partners"
        >
          <!-- new -->
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.brightermonday.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Brighter Monday (Africa)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jobberman.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Jobberman (West Africa)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jobsdb.com/"
            target="_blank"
            rel="noopener noreferrer"
            >jobsDB (S.E. Asia)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jobstreet.com/"
            target="_blank"
            rel="noopener noreferrer"
            >JobStreet (S.E. Asia)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.jora.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Jora (Worldwide)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.occ.com.mx/"
            target="_blank"
            rel="noopener noreferrer"
            >OCC Mundial (Mexico)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.seek.com.au/"
            target="_blank"
            rel="noopener noreferrer"
            >SEEK (Australia)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.workana.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Workana (Latin America)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://www.zhaopin.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Zhaopin (China)</a
          >
        </div>
      </div>

      <!-- Other Partners -->
      <div class="hs-dropdown [--placement:top-left] relative inline-flex">
        <button
          id="hs-dropup"
          type="button"
          class="hs-dropdown-toggle py-2 px-2 inline-flex items-center gap-x-1 text-base font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
        >
          Other Partners
          <div class="ml-[2px] mt-[3px] inline-flex items-center justify-center text-white">
            <span class="icon-sort-up" style="transform: scale(0.45);"></span>
          </div>
        </button>

        <div
          class="hs-dropdown-menu w-72 transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden z-10 bg-[#165273] shadow-md rounded-lg p-2 text-white"
          aria-labelledby="dropdown-international-partners"
        >
          <!-- new -->

          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://ajkerdeal.com/"
            target="_blank"
            rel="noopener noreferrer"
            >AjkerDeal (Bangladesh)</a
          >
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="https://deliverytiger.com.bd/"
            target="_blank"
            rel="noopener noreferrer"
            >Delivery Tiger (Bangladesh)</a
          >

          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm focus:outline-none hover:bg-white hover:text-[#165273]"
            href="http://www.aspiringminds.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Aspiring Minds (India)</a
          >
        </div>
      </div>

      <!-- Privacy policy -->
      <div class="inline-flex items-center">
        <a
          class="hs-dropdown-toggle py-2 px-2 inline-flex items-center gap-x-1 text-base font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
          href="https://bdjobs.com/policy/Privacy_policy.asp"
          target="_blank"
          rel="noopener noreferrer"
          >Privacy Policy</a
        >
      </div>

      <!-- Terms & Conditions -->
      <div class="inline-flex items-center">
        <a
          class="hs-dropdown-toggle py-2 px-2 inline-flex items-center gap-x-1 text-base font-medium rounded-lg text-white disabled:opacity-50 disabled:pointer-events-none focus:text-[#f57c00] hover:text-[#f57c00]"
          href="https://bdjobs.com/tos.asp"
          target="_blank"
          rel="noopener noreferrer"
          >Terms & Conditions</a
        >
      </div>

      <div class="support-text flex items-center flex-nowrap gap-10">
        <span class="text-base text-white whitespace-nowrap">Call For Support</span>
        <span class="flex items-center gap-0.5">
          <span class="icon-phone iphone text-[#FF8000]"></span>
          <a href="tel:01897627858" class="text-base text-[#FF8000] hover:text-[#fdd835] whitespace-nowrap">01897627858,</a>
          <a href="tel:09638666444" class="text-base text-[#FF8000] hover:text-[#fdd835] whitespace-nowrap">09638666444</a>
        </span>
      </div>
    </div>
  </div>
</div>
