<div class="w-full my-5">
  <ngx-skeleton-loader [theme]="{'background-color':'#CCCCCC',
        width: '100%',
        'border-radius': '10px',
        height: '220px',
      }" />
</div>
<div class="bg-[#FFFFFF] border border-[#DAE5EC] rounded-lg">
  <div class="flex items-center justify-center pt-4">
    <ngx-skeleton-loader [theme]="{'background-color':'#CCCCCC',
        width: '300px',
        'border-radius': '5',
        height: '25px',
      }" />
  </div>
  <div class="flex items-center justify-center">
    <div class="w-[300px] md:w-[1000px]">
      <ngx-skeleton-loader [theme]="{'background-color':'#CCCCCC',
            width: '100%',
            'border-radius': '999px',
            height: '48px',
          }" />
    </div>
  </div>
  <div class="flex items-center justify-center">
    <ngx-skeleton-loader count="6" [theme]="{'background-color':'#CCCCCC',
        width: '130px',
        'border-radius': '999px',
        height: '30px',
        'margin-left': '10px'
      }" />
  </div>
  <div class="flex items-center justify-center">
    <ngx-skeleton-loader [theme]="{'background-color':'#CCCCCC',
        width: '200px',
        'border-radius': '999px',
        height: '48px',
      }" />
  </div>
</div>