<div class="rounded-lg border-[#DAE5EC] bg-white border max-w-[636px] p-3">
    <div class="flex justify-between items-center mb-4">
        <div>
          <div class="flex flex-col gap-2">
            @if (isPurchasedListEdit()) {
                <div #editInput class="w-[400px]">
                    <app-input
                        [type]="'text'"
                        [isNumericOnly]="false"
                        [isDecimalAllowed]="true"
                        [isRequired]="true"
                        [maxLength]="45"
                        [isCheckSpecialCharsValidation]="true" 
                        [allowedSpecialChars]="['[', ']', '{','}', ',', '.', ' ', '/', '_', '-' ,'~','`','!','@','#','$','^','|','?','*',':',';']"
                        [placeholder]="'Please enter a title.'"
                        [control]="purchasedTitleControl">
                    </app-input>
                        <textarea id="shortlistDescription"
                        class="w-full rounded-lg border border-gray-300 mt-2 focus:ring-0 focus:border focus:border-[#008A22] h-20"
                        [formControl]="purchasedDetailsControl"
                        [placeholder]="'Please enter a description'"
                        ></textarea>
                        @if (purchasedDetailsControl.errors?.['maxlength']) {
                          <p class="text-red-600 text-sm mt-1">Description must not exceed 250 characters.</p>
                        }
                        @if (purchasedDetailsControl.errors?.['pattern']) {
                        <p class="text-red-600 text-sm mt-1">Please avoid using ', %, <,>, ", &, (, ).</p>
                        }
                </div>
            }@else {
            <p class="text-base font-semibold text-[#212121]">{{purchasedTitle()}}</p>
            <div class=" flex flex-wrap text-[13px] w-[400px]">
             <p class="font-normal w-full break-words">{{purchasedDetails()}}</p>
            </div>
            }
          </div>
        </div>
        <div class="flex gap-3 justify-center items-center">
            @if (isPurchasedListEdit()) {
                <button class="w-10 h-10 bg-[#ECFDF3] rounded-full flex justify-center items-center icon-check text-[#008A22] text-sm disabled:text-[#E4EFFB]"
                [disabled]="purchasedTitleControl.invalid ||(purchasedTitleControl.value?.length || 0) > 45 ||(purchasedDetailsControl.value?.length || 0) > 250 || purchasedDetailsControl.invalid"
                (click)="editPurchasedListSubmit()">
                </button>
            }@else{
                <button (click)="toggleShortlistedCvEditButton()" class="w-10 h-10 bg-[#ECFDF3] rounded-full flex justify-center items-center icon-edit text-[#008A22] text-sm">
                </button>
            }
            <button class="w-10 h-10 bg-[#FDF2F2] rounded-full flex justify-center items-center" (click)="purchasedListCvDelete()">
            <span class="icon-trash text-[#E02424]"></span>
            </button>
        </div>
        
    </div>
    <div class="flex justify-between gap-4">
        <div class="flex justify-between gap-1 bg-[#F3FEF6] border border-[#008A22] rounded-3xl py-2 px-2 w-[298px]">
            <div class="flex items-center gap-1">
                <span class="icon-purchased text-[#008A22]"></span>
                <p class="text-sm">Already Purchased: @if (card().purchased !== 0) {
                    <a (click)="onClickPurchased(true)" class="text-[#008A22] font-semibold underline cursor-pointer">{{card().purchased}}</a>
                    }@else {
                        <span class="text-[#008A22] font-semibold">{{card().purchased}}</span>
                    }
                </p>
            </div>
        </div>
        <div class="flex justify-between bg-[#E4EFFB] border border-[#0E73A9] rounded-3xl py-2 px-2 w-[298px]">
            <div class="flex items-center gap-1">
                <span class="icon-purchase-plus text-[#0E73A9]"></span> 
                <p class="text-sm">Wish to Purchase: 
                    @if (card().wishlist !== 0) {
                    <a (click)="onClickPurchased(false)" class="text-[#0E73A9] font-semibold underline cursor-pointer">{{card().wishlist}}</a>
                    }@else {
                        <a class="text-[#0E73A9] font-semibold">{{card().wishlist}}</a>
                    }
                </p>
            </div>
            @if(card().wishlist !== 0){
                <div>
                    <button (click)="onClickBuyAll()" class="bg-[#0E73A9] text-white rounded-3xl text-xs w-16 h-6 ">Buy All</button>
                </div>
            }
        </div>
    </div>
</div>