<div class="mt-6">
    @if (saveFilterList && saveFilterList.length > 0) {
        @let visibleSaveFilterList = saveFilterList.slice(0, 5);
        @for (card of visibleSaveFilterList; track $index) {
            <app-search-card 
            [card]="card" 
            [tabName]="'savedFiltersTab'"
            (saveFilterCardTitleUpdated)="onSaveFilterCardTitleUpdated()"
            (saveFilterCardDeleted)="onSaveFilterCardDeleted()"
            />
        }
        @if(saveFilterList.length > 5){
            <div class="text-[#0E73A9] font-medium text-center">
                <a href="https://corporate3.bdjobs.com/SaveFilter.asp?from=recruiter">Show all <span>({{saveFilterList.length}})</span></a>
            </div>
        }
    } @else {
        <div class="flex flex-col items-center">
            <img src="images/saved-search-image.svg" alt="No saved search" class="w-28 h-28 mx-auto" />
            <p class="text-[#212121] mt-2">Saved search will appear after your first saved search</p>
        </div>
    }
</div>
